.normal-text{
    font-family: 'Roboto', sans-serif;
}

.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.para-div{
    display: flex;
    flex-direction: column;
    flex:0.6;
}
.image-div{
    display: flex;
    flex-direction: row;
    flex: 0.3;
}
.profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

@media only screen and (max-width: 640px) {
    /* Styles for small devices go here */
    /* Adjust styles for small screens, such as smartphones */
    .about-container{
        flex-direction: column;
        text-align: justify;
        font-size: smaller;
    }
    .image-div{
        margin-top: 10%;
    }
    .about-main-div{
        margin-top: 50px;
        height: 100vh;
        margin-bottom: 10%;
    }
    .profile-pic{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .about-section{
        margin-top: 50%;
    }
    .skills-table{
        text-align: left;
    }
}