.menu{
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10%;
    padding: 5px;
    
}
.menu:hover{
    /* background-color: rgb(87, 219, 46); */
    color: chartreuse;
    transform: scale(1.1);
}

.menu:hover span {
  /* Increase font size for text growth */
  font-size: 1.2em;
}


.navbar-container{
    display: flex;
  background-color: #57375D;
  flex-direction: row;
  position: fixed;
  float: right;
  width: 100%;
  justify-content: right;
  opacity:100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'News Cycle', sans-serif;
  font-weight: bolder;
  font-size: larger;
}

.menu-toggle {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
    padding: 10px;
    color: white;
  }

@media (max-width: 768px) {
    .navbar-container {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content:flex-end;
      align-items:flex-end;
      float: right;
      z-index: 25;
    }
  
    .menu {
      /* Add styles for smaller screens here */
      font-size:xx-large;
    }

    .menu-toggle {
        display: block; /* Show on smaller screens */
        right: 0%;
        align-content: right;
        left: 10px;
      }
  }